.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    height: 70vh;
}
.container > .heading > h2{
    font-size:35px;
    font-weight:normal;
    letter-spacing:2px;
}

.postContainer{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 60%;
    background: rgba(0,0,0,0.03);
    padding:30px 20px;
    border-radius: 6px;
}

.postContainer > label{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postContainer > label > textarea,#selectUser , #category{
height: 45px;
width:60%;
border-radius: 4px;
padding-left:5px;
resize: none;
border:1.5px dashed gray;
padding:10px;
}
.postContainer > label > input{
    border-radius: 4px;
    padding-left:5px;
    border:2x dashed gray;
}
.postContainer > .buttonContainer{
    display: flex;
    justify-content: space-evenly;
}
.postContainer > .buttonContainer > button{
    height: 40px;
    width: 120px;    
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.45);
    border-radius: 5px;
    letter-spacing:2px;
    font-size: 16px;
    border: none;
    transition:0.4s;
}
.postContainer > .buttonContainer > button:hover{
    box-shadow: none;
}
.submit 
{
    background-color: darkslategray;
    color: whitesmoke;
}
.clear{
    background-color:rgb(236, 45, 45);
    color:white;
}